@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin-left: 150px;
  margin-right: 150px; */
}

.logo {
  color: #000;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  color: #000;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
}
.title-span {
  color: #996a0d;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
.info {
  color: #000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.info-span {
  color: #996a0d;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  height: auto;
}
input {
  display: block;
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0;
  z-index: 9;
}
.click {
  width: 35px;
  height: 3px;
  background: #4e4e4e;
  position: relative;
  display: block;
  margin: 4px 0;
  border-radius: 2px;
  transition: all 0.2s linear;
}

.menu-btn-one {
  input {
    &:checked ~ .click {
      &:nth-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(-10px, 9px);
        background: #eb30ba;
        box-shadow: 0 0 2em 0.2em #eb30ba;
      }
      &:nth-child(3) {
        opacity: 0;
      }
      &:nth-child(4) {
        display: block;
        transform: rotate(135deg);
        opacity: 1;
        margin-top: -3px;
        width: 35px;
        transform: rotate(45deg);
        translate: (-5px, -5px);
        background: #eb30ba;
        box-shadow: 0 0 2em 0.2em #eb30ba;
      }
    }
  }
}
.hide {
  display: none;
}
.show {
  display: block;
}
